/* HSL */
$color1: hsla(31%, 42%, 88%, 1);
$color2: hsla(29%, 49%, 78%, 1);
$color3: hsla(192%, 52%, 37%, 1);
$color4: hsla(190%, 69%, 23%, 1);
$color5: hsla(0%, 0%, 98%, 1);

/* RGB */
$color1: rgba(225, 179, 130, 1);
$color2: rgba(200, 150, 102, 1);
$color3: rgba(45, 84, 94, 1);
$color4: rgba(18, 52, 59, 1);
$color5: rgba(251, 251, 251, 1);

/* HEX */
$color1: #e1b382ff;
$color2: #c89666ff;
$color3: #2d545eff;
$color4: #12343bff;
$color5: #fbfbfbff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-right: linear-gradient(90deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-bottom: linear-gradient(180deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-left: linear-gradient(270deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-top-right: linear-gradient(45deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-bottom-right: linear-gradient(135deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-top-left: linear-gradient(225deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-bottom-left: linear-gradient(315deg, #e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);
$gradient-radial: radial-gradient(#e1b382ff, #c89666ff, #2d545eff, #12343bff, #fbfbfbff);

$gradient-sand: linear-gradient(0deg, $color1, $color2);

#gameOfLife{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  height: 75vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

main {
  background-color: $gradient-sand;
}

.portrait {
  width: 50vw;
  max-width: 440px;
  height: auto;
  position: absolute;
  top: 5vh;
  left: calc(50vw - min(25vw,220px));
  margin-top: 0;
  z-index: 10;
  border-radius: 100vw;
}




text {
  fill: black;
  font-size: 75px;
}

#titleText {
  width: 50vw;
  max-width: 440px;
  height: 50vw;
  max-height: 440px;
  position: absolute;
  top: 5vh;
  left: calc(50vw - min(25vw,220px));
  margin-top: 0;
  z-index: 5;
}